@page "/star"
@using WebApp.Model
@using WebApp.Drawings


<PageTitle>Star</PageTitle>

<h1>Star - with Turtle</h1>

<svg viewBox="0 0 500 300" xmlns="http://www.w3.org/2000/svg">

    @foreach (var line in mLines)
    {
        <line x1="@line.X1" y1="@line.Y1" x2="@line.X2" y2="@line.Y2" stroke="@line.Color" stroke-width="@line.Width" />
    }
</svg>
@code {

    List<Line> mLines = new();

    protected override void OnInitialized()
    {
        Turtle t = new();
        StarDrawing drawing = new();
        drawing.DrawStar(t, 36);
        mLines = t.mLines;
        foreach (var line in mLines)
        {
            line.X1 = Math.Round(line.X1);
            line.Y1 = Math.Round(line.Y1);
            line.X2 = Math.Round(line.X2);
            line.Y2 = Math.Round(line.Y2);

        }
    }
}


