@page "/turtle"
@using WebApp.Model


<PageTitle>Counter</PageTitle>

<h1>Turtle</h1>

<svg viewBox="0 0 500 400" xmlns="http://www.w3.org/2000/svg">
    
   
    @foreach (var line in Turtle.mLines)
    {
            <line x1="@line.X1" y1="@line.Y1" x2="@line.X2" y2="@line.Y2" stroke="@line.Color"/>
    }
</svg>
@code {

    protected override void OnInitialized()
    {
        WebApp.Drawings.Main.Run();
    }
}


